.messages {
	height: 175px;
	overflow: scroll;
}

.close {
	margin-top: 2%;
	margin-right: 2%;
}

.chr-create .chr-update .chr-view {
	display: none;
}

.evens {
	background-color: #ffffcc;
}

.odds {
	background-color: #ffffee;
}

.error-name, .error-stats {
	color: #ff0000;
	display: none;
}